// ======================================
//  Button Styles
// ======================================

.btn {
    @include mag-wit(15px);
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    @media (min-width: 768px)  {
        padding: 10px 5px;
        
      }
      
    }
@media(min-width: map-get($breakpoints, 'med')) {
  .btn + .btn {
    margin-left: 10px;
  }
  
}
  
  .default {
    background-color: $color-default;
  }
  
  .error {
    background-color: $color-error;
  }
  
  .info {
    background-color: $color-info;
  }
  
  .success {
    background-color: $color-success;
  }
  
  .warning {
    background-color: $color-warning;
  }
  