// ======================================
//  Button Styles
// ======================================

.btn {
    @include mag-wit(15px);
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    @media (min-width: 768px)  {
        padding: 10px 5px;
        
      }
      
    }
@media(min-width: map-get($breakpoints, 'med')) {
  .btn + .btn {
    margin-left: 10px;
  }
  
}

//map-get ($colors, ''){
  //&:hover{ 
//    background-color: lighten( #{#}: , 10);
 // }}

  
  .default {
    background-color: $color-default;
    &:hover {
      background: lighten($color-default, 10%)
    }
  }
  
  .error {
    background-color: $color-error;
    &:hover {
      background: lighten($color-error, 10%)
    }
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background: lighten($color-info, 10%)
    }
  }
  
  .success {
    background-color: $color-success;
    &:hover {
      background: lighten($color-success, 10%)
    }
  }
  
  .warning {
    background-color: $color-warning;
    &:hover {
      background: lighten($color-warning, 10%)
    }
  }
  