// ======================================
//  Icon Styles
// ======================================

.form {
    flex-basis: 100%;
  }
  
  .input{
    display: block;
    width: 94%;
    margin: 10px auto 0;
    border: none;
    padding: 10px;
    border-bottom: 5px solid $color-primary;
  }
  
  .hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  
.img-avatar {
    @include block;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }
  
  .img-frame {
    @include block;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid $white; 
  }
  
  .img-logo {
    @include block;
  }