// ======================================
//  grid Styles
// ======================================

.container {
    padding: 0 10px;
    @media (min-width: map-get($breakpoints, 'med')) {
        max-width: 1400px;
        @include block;
      }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: map-get($breakpoints, 'med')) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
  }
  @media (min-width: map-get($breakpoints, 'med')) {

    [class^=col] + [class^=col] {
      margin-left: 10px;
    }

  }
  .theme.col-1 {
    background-color: $color-info;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 8.33%;
    }
  }
  
  .theme.col-2 {
    background-color: $orange ;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 16.67%;
    }
  }
  
  .theme.col-3 {
    background-color:  lighten($color-info , 40);
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 25.00%;
    }
  }
  
  .theme.col-4 {
    background-color: $color-default;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 33.33%;
    }
  }
  
  .theme.col-5 {
    background-color: lighten($color-success , 30);
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 41.67%;
      margin-right: .5rem;
    }
  }
  
  .theme.col-6 {
    background-color: $color-darkblue;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 50%;
    }
  }
  
  .theme.col-7 {
    background-color: $col-7;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 58.33%;
      margin-right: auto;
      margin-left: auto;

    }
  }
  
  .theme.col-8 {
    background-color: $col-8;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 66.67%;
    }
  }
  
  .theme.col-9 {
    background-color: lighten($col-8, 10);
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 75%;
    }
  }
  
  .theme.col-10 {
    background-color: lighten( $color-success, 10);
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 83.33%;
    }
  }
  
  .theme.col-11 {
    background-color: $color-default;
    @media (min-width:map-get($breakpoints, 'med')) {
      flex-basis: 91.67%;
    }
  }
  
  .theme.col-12 {
    background-color: $color-primary;
    @media (min-width: map-get($breakpoints, 'med')) {
      flex-basis: 100%;
    }
  }
  
  .card {
    flex-basis: 100%;
  }
  
  