// ======================================
//  grid Styles
// ======================================

.container {
    padding: 0 10px;
    @media (min-width: 768px) {
        max-width: 1400px;
        @include block;
      }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
  }
  @media (min-width: 768px) {

    [class^=col] + [class^=col] {
      margin-left: 10px;
    }

  }
  .theme.col-1 {
    background-color: $color-info;
    @media (min-width: 768px) {
      flex-basis: 8.33%;
    }
  }
  
  .theme.col-2 {
    background-color: #fd7856;
    @media (min-width: 768px) {
      flex-basis: 16.67%;
    }
  }
  
  .theme.col-3 {
    background-color: #deb2ee;
    @media (min-width: 768px) {
      flex-basis: 25.00%;
    }
  }
  
  .theme.col-4 {
    background-color: $color-default;
    @media (min-width: 768px) {
      flex-basis: 33.33%;
    }
  }
  
  .theme.col-5 {
    background-color: #88d9a0;
    @media (min-width: 768px) {
      flex-basis: 41.67%;
    }
  }
  
  .theme.col-6 {
    background-color: $color-primary;
    @media (min-width: 768px) {
      flex-basis: 50%;
    }
  }
  
  .theme.col-7 {
    background-color: #ec9fa3;
    @media (min-width: 768px) {
      flex-basis: 58.33%;

    }
  }
  
  .theme.col-8 {
    background-color: #fd9f85;
    @media (min-width: 768px) {
      flex-basis: 66.67%;
    }
  }
  
  .theme.col-9 {
    background-color: #e4757a;
    @media (min-width: 768px) {
      flex-basis: 75%;
    }
  }
  
  .theme.col-10 {
    background-color: #63cc82;
    @media (min-width: 768px) {
      flex-basis: 83.33%;
    }
  }
  
  .theme.col-11 {
    background-color: #51ddfc;
    @media (min-width: 768px) {
      flex-basis: 91.67%;
    }
  }
  
  .theme.col-12 {
    background-color: #80e8d1;
    @media (min-width: 768px) {
      flex-basis: 100%;
    }
  }
  
  .card {
    flex-basis: 100%;
  }
  
  